<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <!-- mapper文件必须跟mapper接口处于相同的包下面-->

    <sql id="baseSelect">
        id,order_no,order_amount,
  merchant_id,
  user_id,
  order_freight,
  order_status ,
  trans_time ,
                                                                                pay_status,
                                                                                recharge_time,
                                                                                pay_amount,
                                                                                pay_discount_amount ,
                                                                                address_id ,
                                                                                delivery_type ,
                                                                                delivery_status ,
                                                                                delivery_expect_time ,
                                                                                delivery_complete_time ,
                                                                                delivery_amount ,
                                                                                coupon_id ,
                                                                                remark ,
                                                                                create_user ,
                                                                                update_user ,
                                                                                create_time ,
                                                                                update_time ,
            delete_flag
    </sql>

    <select id="queryUserOrderInfo" resultType="com.domain.OrderInfo">
        select
        <include refid="baseSelect"/>
        from order_info
        where id =#{orderId}
    </select>
</mapper>